<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="card text-center">
	   <% @gossips.each do |gossip| %>
     <div class="card-header">
  	  <% gossip.user.first_name %>
     </div>
      <div class="card-body">
       <h5 class="card-title"><%= gossip.title%></h5>
       <h5 class="card-text"><%= gossip.content%></h5>
       <a href= "<%= gossip_path(gossip.id)%>" class="btn btn-primary">show</a>
        <a href= "<%= edit_gossip_path(gossip.id)%>" class="btn btn-primary">Edit</a>
        <a href= "<%= gossip_index_path(gossip.id)%>" class="btn btn-danger">supprimer</a>
      </div>
    <%end%>
 </div>
	
</body>
</html>
